.banner {
    background: var(--cor-azul-gradiente);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner-titulo {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;  
}

.banner-texto {
    font-weight: 600;
    margin: 1em 0; 
}

.banner-busca {
    font-size: 0.875rem;
    background-color: transparent;
    border-radius: 1.5rem;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner-busca::placeholder {
    text-align: center;
    color: var(--cor-branco);
    font-size: 0.875rem;
    background: url("../assets/icons/Pesquisa.svg") no-repeat 2em;
}