@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('menu.css');
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("footer.css");


:root {
    --cor-branco: #FFFFFF;
    --cor-background: #EBECEE;
    --cor-azul: #002F52;
    --cor-laranja: #EB9B00;
    --cor-preto: #000000D9;
    --cor-azul-gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-cinza-claro: #858585;
    --cor-cinza-escuro: #474646;
    --fonte: 'Poppins', sans-serif;
    --fonte-segundaria: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--cor-background);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}



